.wrapper {
  display: flex;
  position: relative;
  background-color: rgb(248, 248, 248);
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 4vh;
  padding-bottom: 6vh;
  max-width: 60vw;
  top: -1.5vh;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 50vw;
  /* grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px)); */
  font-size: 20px;
  font-weight: 500;
}


form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  grid-column: span 2;
  width: 100%;
  margin-top: 2vh;
  margin-left: auto;
  font-size: .8em;
  font-weight: 600;
  background-color: #add8e6;
}

form > button:hover {
  background-color: #88b0bd;
  color: white;
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
}


label {
  display: inline;
  margin-top: .4vh;
  margin-bottom: -1.6vh;
}

input { 
  display: inline;
  width: 100%;
} 