form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
  font-weight: 500;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  grid-column: span 2;
  width: 352px;
  margin-left: auto;
  font-size: 22px;
  background-color: #add8e6;
}

form > button:hover {
  background-color: #88b0bd;
  color: white;
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
}
