<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/flights/new.css">
<%- include("../partials/nav") %>  

<main>
  <h1><%= title %></h1>
  <div class="wrapper">
    <form id="new-form" action="/flights" method="POST">
      <label for="airline-input">Airline</label><br>
        <select name="airline" id="airline-dropdown">
          <option value="" disabled selected hidden>Select Airline</option>
          <option value="American Airlines">American Airlines</option>
          <option value="British Airways">British Airways/option>
          <option value="Delta">Delta</option>
          <option value="Southwest">Southwest</option>
          <option value="United">United</option>
          <option value="Virgin America">Virgin America</option>
        </select><br>
      <form action="#">
        <label for="airport-input">Airport</label><br>
        <select name="airport" id="airport-dropdown">
          <option value="" disabled selected hidden>Select Airport</option>
          <option value="ATL">ATL</option>
          <option value="AUS">AUS</option>
          <option value="CLT">CLT</option>
          <option value="DEN">DEN</option>
          <option value="DFW">DFW</option>
          <option value="LAX">LAX</option>
          <option value="LAX">LHR</option>
          <option value="RDU">RDU</option>
          <option value="SAN">SAN</option>
          <option value="SFO">SFO</option>
        </select><br>
      <label for="flight-number-input">Flight Number</label><br>
      <input type="number" name="flightNo" id="flight-number-input" required min="10" max="9999" placeholder="Enter Flight Number"><br>
      <label for="departure">Departs</label><br>
      <input type="datetime-local" name="departs" id="departs-input">
      <button type="submit">Add Flight</button>
    </form>
  </div>
</main>

<%- include("../partials/footer") %>  

